<h1>Welcome to RobertBnb</h1>

<p>
  We are happy to have you among our prosperous community of old French people!
</p>
<p>
  You can now login and access all of our services with your email <strong><%= @user.email %>
</strong>
  and your password: <strong><%= @user.password %></strong>
</p>

<p>
  Cheers,
</p>
<p>
  RobertBnb.
</p>


