
#footer {
  background: #141414;
  padding: 30px 0;
  color: gainsboro;

  p {
    margin-top: 17px;
  }

  ul {
    margin-top: 10px;
  }

  a {
    color: gainsboro;
    font-size: 15px;
    letter-spacing: 15px;
    transition: color 0.5s ease;
    &:hover {
      color: red;
    }
  }
}
